
body {
    color:rgb(6, 4, 54);
    font-family: 'Gill Sans MT', Garamond, 'Trebuchet MS', sans-serif;
    background-image: url('../img/background.jpg');
    line-height: 1.6;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:90%;
    text
 }
 img {
    display:block;
    margin:20px;
    width:30%;
    float: left;;
    border:5px;
    border-radius:6px; 
}

span {
    font-weight:bold;
    font-size: 20px;
}
h1{ 
    margin-top:60px;
    padding:40px;
    text-align:center;
    font-size: 45px;
}
h2{
    margin:25px;
    padding-top: 30px;
    font-size:20px;
    text-transform:uppercase;
    clear:both;
}

p{
    width:80%;
}

nav{
    width:90%;
    margin-top:60px;
}

nav li{
    display:inline-block;
    width: 70px;
    margin:5px;
    background:  rgb(219, 216, 216);
    padding:10px;
    text-align:center;
    white-space: nowrap;
    opacity: 0.7;
    border:2px;
    border-radius:5px;

}

h2, p {
    padding-left:30px;
}

a{
    color:rgb(6, 4, 54);
    text-decoration: none;
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
}  
ol li { 
    margin-top: 5px;
    padding-left: 40px;
}
